<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="DocuGit" Language="1033" Version="@VERSION@.0" Manufacturer="DocuGit" UpgradeCode="f5e9d8c7-b6a5-4321-9abc-def012345678">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="DocuGit">
          <Component Id="MainExecutable" Guid="*" Win64="yes">
            <File Id="DocuGitExe" Source="@BINARY@" KeyPath="yes" />
            <Environment
              Id="DocuGitPath"
              Name="PATH"
              Value="[INSTALLDIR]"
              Permanent="no"
              Part="last"
              Action="set"
              System="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="DocuGit" Level="1">
      <ComponentRef Id="MainExecutable" />
    </Feature>

    <UIRef Id="DocuGitUI" />
  </Product>
</Wix>
