class Docugit < Formula
  desc "Git-based version control for Office OpenXML documents"
  homepage "https://github.com/xiaoheiCat/docugit"
  version "@VERSION@"
  license "MIT"

  on_macos do
    on_arm do
      url "https://github.com/xiaoheiCat/docugit/releases/download/@VERSION_TAG@/docugit-darwin-arm64"
      sha256 "@SHA256@"
    end
  end

  def install
    bin.install "docugit-darwin-arm64" => "docugit"
  end

  test do
    system "#{bin}/docugit", "--version"
  end
end
